* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    background: #E2D3CE url("./images/bg_top_inner.png") no-repeat 50% 0;
    font-family: 'Forum', cursive;
    font-weight: 400;
}

.header {
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 22.56px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.nav-list-item a {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.call-btn {
    display: block;
    width: 180px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.call-btn-wrap,
.more-btn-wrap {
    position: relative;
}

.call-btn-up,
.more-btn-up {
    position: absolute;
    top: -11px;
    left: 76px;
    width: 22px;
    height: 9.17px;
    background: url("./images/up.png") no-repeat;
}

.call-btn-down,
.more-btn-down {
    position: absolute;
    top: 56px;
    left: 76px;
    width: 22px;
    height: 9.17px;
    background: url("./images/down.png") no-repeat;
}

.luxury-title {
    margin-top: 3.86px;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
}

.luxury-journey-img {
    width: 48.63px;
    height: 20.02px;
    background: url("./images/journey-up.png") no-repeat;
    margin-left: 47%;
}

.luxury-journey {
    width: 1110px;
    margin: 70px auto;
}

.luxury-journey-title {
    width: 334px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-top-left-radius: 60%;
    border-top-right-radius: 70%;
    padding-top: 12.92px;
    padding-bottom: 14.08px;
    padding-left: 46px;
    padding-right: 46px;
    font-size: 25.7567px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #79655E;
}

.luxury-journey-box {
    padding-top: 25.08px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #FFF;
}

.luxury-journey-item:nth-child(1) {
    background: url("./images/vector.png") no-repeat;
    padding-left: 20px;
}

.luxury-journey-item:nth-child(2) {
    background: url("./images/union.png") no-repeat;
    padding-left: 20px;
}

.luxury-journey-item:nth-child(3) {
    background: url("./images/user.png") no-repeat;
    padding-left: 20px;
}

.journey-item-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #79655E;
}

.journey-item-desc,
.luxury-journey-check {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #0C0B10;
}

.luxury-journey-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.luxury-journey-check span {
    display: block;
}

.luxury-journey-check input {
    display: block;
    width: 25px;
    height: 25px;
}

.luxury-packages,
.luxury-packages-more {
    margin-top: 43px;
    display: flex;
    justify-content: space-around;
    row-gap: 30px;
    flex-wrap: wrap;

}

.luxury-packages-item {
    width: 361px;
    display: flex;
    justify-content: space-between;
    padding-top: 376px;
    padding-left: 37px;
    padding-bottom: 35px;
    padding-right: 36px;
    color: #FFFFFF;
}

.luxury-packages-item:nth-child(1) {
    background: url("./images/p1.png") no-repeat;
}

.luxury-packages-item:nth-child(2) {
    background: url("./images/p2.png") no-repeat;
}

.luxury-packages-item:nth-child(3) {
    background: url("./images/p3.png") no-repeat;
}

.luxury-packages-item:nth-child(4) {
    background: url("./images/p4.png") no-repeat;
}

.luxury-packages-item:nth-child(5) {
    background: url("./images/p5.png") no-repeat;
}

.luxury-packages-item:nth-child(6) {
    background: url("./images/p6.png") no-repeat;
}

.luxury-packages-item:nth-child(7) {
    background: url("./images/p7.png") no-repeat;
}

.luxury-packages-item:nth-child(8) {
    background: url("./images/p8.png") no-repeat;
}

.luxury-packages-item:nth-child(9) {
    background: url("./images/p9.png") no-repeat;
}

.packages-item-location {
    background: url("./images/location.png") no-repeat;
    padding-left: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

}

.packages-item-title {
    font-size: 36px;
    line-height: 98.5%;
}

.packages-item-price {
    width: 66px;
    margin-top: 30.41px;
    font-size: 24px;
    line-height: 98.5%;
}

.packages-item-customize {
    display: block;
    width: 128px;
    height: 40px;
    margin-top: 35px;
    margin-left: 14px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 24px;
    padding-right: 28.91px;
    border: 1px solid #FFFFFF;
    border-radius: 23%;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.item-rating {
    margin-top: 15px;
}

.f-box {
    display: flex;
}

.more-wrap {
    margin-top: 30px;
    position: relative;
}

.more-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.84) 52.77%, #E2D3CE 94.27%);
}

.luxury-packages-more {
    margin-top: 0;

}

.more-btn-wrap {
    position: absolute;
    top: 40%;
    left: 38%;
}

.more-btn-up {
    left: 48%;
}

.more-btn-down {
    top: 100%;
    left: 48%;
}

.more-btn {
    display: block;
    width: 330px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    padding-top: 16.5px;
    padding-bottom: 12.5px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0C0B10;
    cursor: pointer;

}

.more-btn-up {
    background: url("./images/up.png");
}

.luxury-inspiration {
    width: 1110px;
    margin: 166px auto;
    background: url("./images/inspiration.png") no-repeat;
    padding-top: 94px;
    padding-left: 185px;
    padding-bottom: 116.24px;
    padding-right: 191px;
}

.luxury-inspiration-title {
    width: 520px;
    font-size: 60px;
    line-height: 58px;
    color: #FFFFFF;
}

.luxury-inspiration-subtitle {
    margin-top: 9px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 179.8%;
    color: #FFFFFF
}

.luxury-inspiration-form {
    margin-top: 35px;
    position: relative;
}

.luxury-inspiration-form input {
    width: 486px;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 179.8%;
    color: #0C0B10;
}

.luxury-inspiration-form input::placeholder {
    color: #0C0B10;
}

.luxury-inspiration-form button {
    width: 330px;
    padding-top: 16.5px;
    padding-bottom: 12.5px;
    padding-left: 108px;
    padding-right: 108px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 306px;
}

.footer {
    background: url("./images/bg_footer.png") no-repeat;
    padding-left: 299px;
    padding-right: 366px;
    padding-bottom: 34px;
    text-align: center;
    height: 550px;
}

.footer-logo {
    width: 215px;
    margin: 0 auto;
    margin-bottom: 80.07px;
}

.footer .nav-list {
    justify-content: space-around;
}

.footer .call-btn-wrap {
    width: 156px;
    margin: 70px auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-rights {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-links, .footer-links a  {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer-links a {
    text-decoration: none;
}